html {
    background: linear-gradient(90deg, rgb(140, 214, 132), rgb(86, 153, 255));
}
h2 {
    font-family: Georgia, Times, serif;
} 
#card-2-back {
    text-align: start;
}
#card-2-back span {
    float: right;
}
#card-1-back h2, #card-2-back h2, #fact-title-3 {
    display: block;
    text-align: center;
    padding: 0.5rem;
    /* linear gradient helped by https://codepen.io/brucebrotherton/pen/wvqjORe */
    background-image: linear-gradient(-45deg, transparent 10%, rgb(54, 54, 148) 10.5%, #00d1b2 90%, transparent 90.5%);
    color: beige;
    font-size: 1.3em;
}
.img-class {
    width: 100%;
    height: 100%;

    object-fit: contain;
    background-color: black;

    /* border-radius: 5%;           testing border glow*/
    /* animation: pulsate 1.5s infinite alternate;  */
    /* border: 0.2rem solid #fff; */
    border-radius: 5%;
    
    /* padding: 0.4em; */
    /* box-shadow: 0 0 .2rem rgb(140, 214, 132),
                0 0 .2rem rgb(140, 214, 132),
                0 0 2rem rgb(86, 153, 255),
                0 0 0.8rem rgb(86, 153, 255),
                0 0 2.8rem rgb(86, 153, 255),
                inset 0 0 1.3rem rgb(86, 153, 255);  */

}

/* .custom-background-header {
    background: linear-gradient(135deg, rgb(140, 214, 132), rgb(86, 153, 255));
} */

.hero-body .container p {
    color: white;
}

.custom-margin-right {
    margin-right: 5%;
}

.custom-text-center {
    text-align: center;
}

.custom-color-header {
    color: beige;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justify-content-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid {
    display: grid;

    /* grid-template-columns: [xl-start] [sm1-start] 24px 1fr [sml-end] [md-start] minmax(0, 250px) [md-end] 1fr 24px [xl-end]; */
    grid-template-columns: [xl-start] 24px 1fr [md-start] minmax(0, 250px) [md-end] 1fr 24px [xl-end];
}

.grid * { grid-column: md; }

.grid-xl * { grid-column: xl; }

.width-100 {
    width: 100%;
}

.section-height {
    height: minmax(400, 800);
}

.custom-background-main-body {
    /* background-color: rgb(167, 167, 167); */
    /* background: linear-gradient(135deg, rgb(224, 224, 224), rgb(131, 131, 131)); */
   /* background: linear-gradient(135deg, rgb(86, 153, 255),rgb(140, 214, 132)); */
} 

.custom-background-brown {
    background-color: rgb(70, 39, 39);
    color: white;
}

.custom-background-second-body {
    background: linear-gradient(135deg, rgb(140, 214, 132), rgb(86, 153, 255));
}

.custom-text-center {
    text-align: center;
}

.custom-card-padding {
    padding: 5%;
}

.custom-select-cat-breed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.custom-select-cat-breed-dropdown {
    width: 180px;
}

.custom-cat-icon {
    width: 35px;
    margin-left: 8px;
    margin-top: 10px;
    position: relative;
}

.custom-cat-icon:hover {
    width: 40px;
    cursor: pointer;
}

.custom-sound-icon {
    margin-top: 5px;
    margin-left: 2px;
    width: 30px;
}

.custom-sound-icon:hover {
    width: 35px;
    cursor: pointer;
}

.chat-bubble-wrapper {
    position: relative;
}

.chat-bubble {
    font-family: cursive;
    font-size: 13px;
    background-color: rgb(223, 223, 223);
    color: black;
    padding: 3.5px;
    border-radius: 10px;
    min-width: 65px;
    position: absolute;
    left: -30px;
    
    bottom : 20px;
}

.chat-bubble::before {
    position: absolute;
    bottom: -4px;
    left: 20%;

    content: "";
    border: 4px solid transparent;
    border-top-color: white;
    border-bottom: 0;
}


/* everything below is testing area */

/* hide the checkbox */
input[type = checkbox] {
    position: absolute;
    left: -10000px;
}

.picture-size {
    display: block;
    perspective: 600px;
    position: relative;
    transition: all .1s;
    width: 22em; height: 22em;
}

.flipping-card {
    position: relative;
    transition: all .1s;

    /* make it bigger on hover */
    &:hover {
        transform: scale(1.05, 1.05);
    }
}

.card {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;

    /*Makes a card invisible from behind.*/
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    border-radius: 5%;
}

.fit-content{
    width: fit-content;
}

.front {
    /* background */
    background: url("") no-repeat;
    background-size: cover;

    /* default rotation values */
    transform: rotateX(0deg) rotate(0deg);

    /* can do background color here */
    background-color: rgb(224, 224, 224);
    border-radius: 5%;
}

.back {
    background-color: rgb(211, 211, 189);
    visibility: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    transform: rotateY(-180deg);
    border-radius: 5%;
    /* test - text color */
    color: black;
}


/* Cat banner */
.bg-img { 
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    height: 500px;
}
/* here lies the back card paragraph */
/* #fun-fact-1, #fun-fact-2, #fun-fact-3  */

.fun-fact-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 2;

}

input[type=checkbox]:checked {
    ~ .container {
        animation: lift .4s linear;
        .card {
            animation: lift-shadow .4s linear;
        }
        .back {
            visibility: visible;
            transform: rotateX(0deg) rotateY(0deg);
        }
        .front {
            transform: rotateY(180deg);
        }
    }
}

#cat-breed-description{
    text-align: left;
}

@keyframes lift {
    0% {
        transform: scale(1,1);
    }
    20% {
        transform: scale(1.2,1.2);
    }
    80% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale (1,1);
    }
}
@keyframes lift-shadow {
    0% {
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
    20% {
        box-shadow: 0 0 35px rgba(0,0,0,0.6);
      }
      80% {
        box-shadow: 0 0 35px rgba(0,0,0,0.6);
      }
      100% {
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
      }
}

/* testing border or text glow
@keyframes pulsate {
    100% {
      /* Larger blur radius */
      /* text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    0% { */
      /* Smaller blur radius */
      /* text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0fa,
        0 0 45px #0fa,
        0 0 55px #0fa,
        0 0 70px #0fa,
        0 0 80px #0fa;
    } */
/* }  */